.nav{
    width: 100%;
    height: auto;
    margin: 0px 0px 12px;
    background-color: blueviolet;
}

.nav .list{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

.nav .list .listItem{
    list-style: none;
}

.nav .list .listItem .link{
    text-decoration: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    display: block;
}

.active{
    background-color: white;
    color: blueviolet !important;
    /* border-radius: 8px; */
}