#root {
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.container{
  width: 100%;
  height: 100%;
  background-color: white;
  transition: height 1.5s linear;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.box{
  max-width: 400px;
  width: 100%;
  height: auto;
}

.heading_box, .input_container, .forgot_password, .submit_container {
  padding: 12px;
}

.heading_box{
  text-align: center;
  color: purple;
  font-weight: bolder;
  font-size: 20px;
}

.input_container{
  margin-top: 15px;
  display: flex;
  padding: 12px;
  background-color: #eee;
  border: none;
  border-radius: 12px;
}

::placeholder{
  color: purple;
  font-size: 18px;
  text-align: center;
}

.icon{
  color: purple;
  font-size: 18px;
}

.input{
  margin-left: 15px;
  border: none;
  width: 100%;
  outline: none;
  background-color: inherit;
}

.submit_container{
  display: flex;
  justify-content: center;
}

.btn{
  width: 75%;
  padding: 12px;
  color: white;
  background-color: blueviolet;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 8px;
}
